
<div class="text-center rounded mx-5 my-3"style="background-color:#9595B9;box-shadow:black 3px 3px 3px 3px">
  <h1 class="display-1 font-weight-bold"style="color:crimson;text-shadow:black 10px 10px 10px;text-decoration:underline;">Saved Articles</h1>

<div class="text-center p-5"id="articleRow">
    {{#each data}}
    {{#if saved}}
    <div class="row rounded bg-white my-3 p-3" style="border-color:blue;border-width:thick;border-style:solid;box-shadow:black 3px 3px 3px 3px;">
        <div class="col-lg-3">
           <img width="300px"height="200px"class="img-thumbnail"src="{{this.image}}" alt="">
        </div>
        <div class="col-lg-8 mx-4">
        <h3><a style="word-wrap:normal;text-decoration:underline;" href="{{this.link}}">{{this.title}}</a></h3>
        <p>{{this.paragraph}}</p>
        <button type="button"id="addNotes"data-id="{{this._id}}"data-toggle="modal" data-target="#exampleModal" class="addNotes btn btn-primary my-2">Add Note</button>
        <button type="button"id="buttonDelete"data-id="{{this._id}}" class="buttonDelete btn btn-danger my-2">Delete Article</button>
        </div>
    </div>
<div class="modal text-left" id="exampleModal"tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comments about the article</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="comments">
        </div>
      </div>
         <div class="form-group p-5">
           <label for="commentName">Name</label>
          <input type="text" class="form-control" id="commentName" placeholder="Name">
            <label for="message-text" class="col-form-label">Comment to add:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" data-id="{{this._id}}" data-dismiss="modal" placeholder="Comment"class="addNote btn btn-primary">Add Note</button>
      </div>
    </div>
  </div>
</div>
    {{/if}}
    {{/each}}
</div>
</div>